<a href="https://colab.research.google.com/github/shjbkgkjbsd/python/blob/main/py_aban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ch1. 파이썬 문법
## 자료형
**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12.345, -987,65, 0, 7e6  
* 8진수 : 0o765, 0o123  
* 16진수 : 0x0d, 0x0A, 0xFF  

**변수**
* 문자 또는 밑줄로 시작 (_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
*  영문자, 숫자, 밑줄(A-Z, 0-9, _)  
ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (pr int,,,)  

**표기법**  
+ 카멜(낙타) : myName  
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f = "10"
c = a + b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10" # 주석
d = "20"
# print(a+b)
print(type(a))
print(type(b))
print(c+d)
print(c,d)

<class 'int'>
<class 'int'>
1020
10 20

In [ ]:
#  나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열  
1. 큰따움표 : "Lang Kim"  
2. 작은 따움표 : "Lang Kim" 
3. 큰따움표3개 : """대한민국"""  
4.작은따움표3개 : """대한민국"""  
5. "동해물과 백두산이 마르고 닳도록 Kim's"

In [ ]:
# 변수
myName = "Kim Lang Ki"
my_name = "김랑기"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [29]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [28]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [27]:
 a = 1; b = 2
 a,b = b,a
 print(a,b)

2 1

In [ ]:
 b = 2:c = 3
 # c = (b=b+c) # error

SyntaxError: ignored

In [ ]:
1 a=1;b=2;c=3

In [25]:
 # len()
 a = "123456"
 b = [1,2,3,4]
 print(len(a))
 print(len(b))

6
4

In [26]:
a = 100
b = 200
result = a + b
print(a,'+',b, "=",result)
result = a - b
print(a,'-',b, "=",result)
result = a / b
print(a,'/',b, "=",result)
result = a * b
print(a,'*',b, "=",result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [31]:
# 계산기 2
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(num1,'+',num2, "=",result)
result = num1 + num2
print(num1,'-',num2, "=",result)
result = num1 - num2
print(num1,'*',num2, "=",result)
result = num1 * num2
print(num1,'/',num2, "=",result)
result = num1 / num2

숫자입력1:10
숫자입력2:1
10 + 1 = 20000
10 - 1 = 11
10 * 1 = 9
10 / 1 = 10

In [30]:
# 자기이름, 전화번호, 택배(g)*100, 
#결과값= g *100원 = 00원 입니다.
num1 = input(이름)
y = "전화번호:010-8507-9954"
z = "택배(g)*100원"

print(x)
print(y)
print(z)

NameError: ignored

# CH2. 서식 추력 print()

In [4]:
print ("%d" % 123)
print ("%5d" % 123)
print ("%05d" % 123)

print ("%f" % 123.45)
print ("%7.1f" % 123.45)
print ("%7.3f" % 123.45)

print ("%c" % "1")
print ("%s" % "가나다라")
print ("%6s" % "가나다라")
print ("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서를 지정 기능 : format

In [12]:
print ("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [13]:
print ("{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

서식 출력

In [6]:
print("\n줄 바꿈 명령 \n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [7]:
print("\t탭키 명령 \t연습 입니다.")

	탭키 명령 	연습 입니다.

In [9]:
print("따옴표 글자가 \"강조\"되는 효과1 ")
print("따옴표 글자가 \'강조\'되는 효과2 ")
print("역슬래시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \"\\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과2
역슬래시 3개를 출력하려면 \\\ 6개
\n \t \"\\ \' @를 그대로 출력

관계 연산자

In [14]:
a,b= 10,20
print(a==b,a!=b,a>=b,a>=b,a>b,a<b)

False True False False False True

논리 연산자 and,or,not

In [18]:
a = 95
print((a>100) and (a<200)) # 100<a<200
print((a<100) or (a>200)) #a<100 , a>200
print(not(a==100)) # a<=99 , a>=101

False
True
True

In [24]:
if(10):
  print("참이면 실행되어 보임")
  if(0):
    print("것짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫 % 나머지 money=int(input("입력)) 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원)  
money, c500, c100, c50, c10  
500원 : ?  
100원 : ?  
50원 : ?  
10원 : ?  
나머지 : ?

In [36]:

money,c500,c100,c50,c10 = 0,0,0,0,0
money = int(input("동전으로 교환할 돈은?:"))
temp = money
c500 = money // 500 # 몫
money %= 500 #money = money % 500
c100 = money // 100 
money %= 100
c50 = money // 50 
money %= 50
c10 = money // 10 
money %= 10 #1~9
print("입력받은 돈은 %d원" % money )
print("500원 동전 : %d" % c500)
print("100원 동전 : %d" % c500)
print("50원 동전 : %d" % c500)
print("10원 동전 : %d" % c500)
print("나머지 잔돈 : %d" % money)

동전으로 교환할 돈은?:1284
입력받은 돈은 4원
500원 동전 : 2
100원 동전 : 2
50원 동전 : 2
10원 동전 : 2
나머지 잔돈 : 4

In [37]:
a = 50
if(a < 100):
  print("100보다 작으면 참")
  print("것이지면 이문장은 보이지 않음)")
  print("프로그램 끝")

100보다 작으면 참
것이지면 이문장은 보이지 않음)
프로그램 끝

In [41]:
a=200
if(a<100):
  print("100보다 작음")
else :
 print("거짓:조건보다 크면")
print("프로그램 끝")

거짓:조건보다 크면
프로그램 끝

In [52]:
#홀짝 구분
a = int(input("숫자 입력:"))
if(a%2==0):
  print("짝수 입니다.")
else:
  print("홀수 입니다.")

숫자 입력:25
홀수 입니다.

In [44]:
a = int(input("숫자입력:"))
if (a>50):
  if(a<100):
    print("50<a<100")
  else:
   print("a>100")
else:
 if(a>25):
  print("25<a<50")
 else:
  print("a<25")

숫자입력:30
25<a<50

In [47]:
fruit = ['사과','배','샤이머스켓','바나나']
fruit.append('망고')
if '망고' in fruit :
 print("망고가 있습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤이머스켓', '바나나', '망고']

In [51]:
for i in range(1,3,1): #시작값,끝값+1,증가값
  print("%d 안녕하세요." % i)
print("환영합니다.")

1 안녕하세요.
2 안녕하세요.
환영합니다.

In [59]:
import random
num = []
for i in range(0,6):
 num.append(random.randrange(1,5))
  print ("생성 리스트". num)

AttributeError: ignored

In [62]:
 for i in range(1,9,1):
  print("%d"%i, end= '\t')
  #print("\n")
 for i in range(1,9,1):
  print("%d"% i, end= '\t')

1	2	3	4	5	6	7	8	1	2	3	4	5	6	7	8

In [68]:
 sum = 0
 for i in range(1,11,1):
  sum = sum + i
 print("1부터 10까지의 합:%d" % sum)

1부터 10까지의 합:55

In [69]:
 sum,num=0,0
 num = int(input("숫자입력:"))
 for i in range(1,num+1,1):
  sum = sum +i
 print("1~n까지의 합 :%d" %sum )

숫자입력:10000
1~n까지의 합 :50005000

In [ ]:
 i,j,k=0,0,0
 for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d *%d = %2d" % (i,j,i*j))
  print("")

### Quiz3 구구단을 만들고 2,3,4,5 줄바꿔서 6,7,8,9을 출력하시오.

In [ ]:
 i,j,k=0,0,0
 for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d *%d = %2d" % (i,j,i*j))
  print("")
  for i in range(2,6,1):
   print("%d"%i, end= '\t')
  #print("\n")
 for i in range(2,10,1):
  print("%d"% i, end= '\t')

In [86]:
 for i in range(2, 6,1):
    for k in range(1, 10):
      for j in range(4):
        print(i, "X", j, "=", i * j, end = '\t')
        if(j == 9):
            print()

2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 0 = 0	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 0 = 0	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 0 = 0	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 0 = 0	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15