<a href="https://colab.research.google.com/github/shjbkgkjbsd/python/blob/main/py_aban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ch1. 파이썬 문법
## 자료형
**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12.345, -987,65, 0, 7e6  
* 8진수 : 0o765, 0o123  
* 16진수 : 0x0d, 0x0A, 0xFF  

**변수**
* 문자 또는 밑줄로 시작 (_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
*  영문자, 숫자, 밑줄(A-Z, 0-9, _)  
ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (pr int,,,)  

**표기법**  
+ 카멜(낙타) : myName  
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [1]:
a = 10
b = 20
f = "10"
c = a + b
print(a,b,c,f)

10 20 30 10

In [5]:
a = 10
b = 20
c = "10" # 주석
d = "20"
# print(a+b)
print(type(a))
print(type(b))
print(c+d)
print(c,d)

<class 'int'>
<class 'int'>
1020
10 20

In [6]:
#  나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [8]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열  
1. 큰따움표 : "Lang Kim"  
2. 작은 따움표 : "Lang Kim" 
3. 큰따움표3개 : """대한민국"""  
4.작은따움표3개 : """대한민국"""  
5. "동해물과 백두산이 마르고 닳도록 Kim's"

In [9]:
# 변수
myName = "Kim Lang Ki"
my_name = "김랑기"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [10]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [11]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [12]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [13]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [14]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [15]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [28]:
 a = 1; b = 2
 a,b = b,a
 print(a,b)

2 1

In [26]:
 b = 2:c = 3
 # c = (b=b+c) # error

SyntaxError: ignored

In [ ]:
1 a=1;b=2;c=3

In [24]:
 # len()
 a = "123456"
 b = [1,2,3,4]
 print(len(a))
 print(len(b))

6
4

In [25]:
a = 100
b = 200
result = a + b
print(a,'+',b, "=",result)
result = a - b
print(a,'-',b, "=",result)
result = a / b
print(a,'/',b, "=",result)
result = a * b
print(a,'*',b, "=",result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [31]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [40]:
# 계산기 2
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(num1,'+',num2, "=",result)
result = num1 + num2
print(num1,'-',num2, "=",result)
result = num1 - num2
print(num1,'*',num2, "=",result)
result = num1 * num2
print(num1,'/',num2, "=",result)
result = num1 / num2

숫자입력1:1
숫자입력2:3
1 + 3 = 4.5
1 - 3 = 4
1 * 3 = -2
1 / 3 = 3

In [45]:
# 자기이름, 전화번호, 택배(g)*100, 
#결과값= g *100원 = 00원 입니다.
num1 = input(이름)
y = "전화번호:010-8507-9954"
z = "택배(g)*100원"

print(x)
print(y)
print(z)

이름:신호준
전화번호:010-8507-9954
택배(g)*100원